

.navbar {
    opacity: 0;
}

#logo {
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
    font-size: xx-large;
    margin-top: 3%;
}

.social img {
    height: 40px;
}

#header h1 {
    color: white;
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 70px;
    font-weight: bolder;
    float: right;
}

#picWrap {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
    align-content: stretch;
    margin-top: 2%;
}

#tech {
    height: 200px;
}

#photo {
    margin-top: 5%;
    height: 300px;
    width: 310px;
    border-radius: 50%;
}

section {
    background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
    height: 94vh;
    width: 100%;
    margin: 0;
}

.btnWrap {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-end;
    align-content: flex-end;
    padding-top: .16%;
}

#link {
    background-color: transparent;
    background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
    height: 6vh;
    width: 100%;
    margin: 0;
}

#section1 {
    background-image: url("../pics/bc.jpeg");
}

#section2 {
    background-color: black;
}

#section3 {
    background-image: url("../pics/bc2.jpeg");
}